# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# local files
CMakeUserPresets.json
build/
Testing/
.vscode/

# editors temp files
*.swp
*.swo

# tags
GPATH
GRTAGS
GTAGS

# Gemini context file
GEMINI.md
